<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge center aligned header"><%=blog.title%></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui  image" src="<%=blog.image%>">
            <div class="content">
                <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="description">
            <p><%-blog.body%></p>    
            <a class="ui primary button" href="/blogs/<%=blog._id%>/edit">Edit</a></button>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui basic red button">Delete</button>
            </form>            
            </div>
        </div>
    </div>
      
</div>
<% include partials/footer %>